.hero-unit {
    margin-top: 3.4em;
    max-height: 40em;
    padding-top: 1em;
}

.tab-content {
    max-height: 37em;
}

.nav-tabs {
    font-weight: bold;
}

table.tournament-list-table > tbody > tr {
    cursor: pointer;
}

.inline-icon {
    margin-right: 0.3em;
    vertical-align: baseline;
}
