{% load staticfiles kwacros %}
<!DOCTYPE html>
{% kwacro css href %}<link type="text/css" rel="stylesheet" href="{% static href %}">{% endkwacro %}
{% kwacro js src %}<script type="text/javascript" src="{% static src %}"></script>{% endkwacro %}
<html>
<head>
    <title>{% block title %}Chess Tournament{% endblock %}</title>
    {% block css %}
        {% usekwacro css 'css/bootstrap.css' %}
        {% usekwacro css 'css/tournament.css' %}
    {% endblock %}
    {% block js %}
        {% usekwacro js 'js/jquery.js' %}
        {% usekwacro js 'js/bootstrap.js' %}
    {% endblock %}
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            {% block menu %}
                {% include 'tournament/_menu.html' %}
            {% endblock %}
        </div>
    </div>
</header>
<div class="container">
    <div class="hero-unit">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
