{% load staticfiles js %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Chess Tournament{% endblock %}</title>
    {% block css %}
        {% css 'css/bootstrap.css' %}
        {% css 'css/tournament.css' %}
    {% endblock %}
    {% block js %}
        {% django_js %}
        {% js 'js/bootstrap.js' %}
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            {% block menu %}
                {% include 'tournament/_menu.html' %}
            {% endblock %}
        </div>
    </div>
</header>
<div class="container">
    <div class="hero-unit">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
