{% extends 'tournament/layout.html' %}

{% block content %}
    {% if tournaments %}
        <table class="tournament-list-table table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Participants</th>
                <th>Referee</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Finished</th>
            </tr>
            </thead>
            <tbody>
            {% for tournament in tournaments %}
                <tr data-pk="{{ tournament.pk }}">
                    <td>{{ tournament.name }}</td>
                    <td>{{ tournament.players_count }}</td>
                    <td>{{ tournament.referee }}</td>
                    <td>{{ tournament.start_date }}</td>
                    <td>{{ tournament.end_date }}</td>
                    <td>{{ tournament.finished }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <script>
        $(function() {
            $('.tournament-list-table').on('click', 'tr', function(e) {
                var pk = $(this).data('pk');
                document.location = Django.url('tournament:tournament_detail', pk);
            })
        });
    </script>
{% endblock %}
