{% extends 'tournament/layout.html' %}
{% load static %}

{% block content %}
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
            <li><a href="#progress" data-toggle="tab">Progress</a></li>
            <li><a href="#rating" data-toggle="tab">Rating Summary</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="details">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ tournament.name }}</td>
                    </tr>
                    <tr>
                        <td>Referee</td>
                        <td>{{ tournament.referee }}</td>
                    </tr>
                    <tr>
                        <td>Start Date</td>
                        <td>{{ tournament.start_date }}</td>
                    </tr>
                    <tr>
                        <td>End Date</td>
                        <td>{{ tournament.end_date }}</td>
                    </tr>
                    <tr>
                        <td>Finished</td>
                        <td>{% if tournament.finished %}Yes{% else %}No{% endif %}</td>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="progress">
                {% for round in tournament.round_set.all %}
                    <div>
                        <ul class="inline">
                            <li>{{ round.start_date }}</li>
                            <span>&mdash;</span>
                            <li>{{ round.name }}</li>
                            <li class="pull-right">{% if round.finished %}Finished: {{ round.end_date }}{% else %}Not Finished{% endif %}</li>
                        </ul>
                        {% if round.game_set.count > 0 %}
                            <div style="margin-left: 2em;">
                                <table class="table table-stripped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Started</th>
                                        <th>Rating</th>
                                        <th>White</th>
                                        <th colspan="3" class="text-center">Scores</th>
                                        <th>Black</th>
                                        <th>Rating</th>
                                        <th>Finished</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for game in round.game_set.all %}
                                        <tr class="game-row">
                                            <td>{{ game.start_date|date:'M d, Y, H:m' }}</td>
                                            <td>{{ game.white.rating }}</td>
                                            <td>{{ game.white.name }}</td>
                                            <td>1.0</td>
                                            <td>:</td>
                                            <td>0.0</td>
                                            <td>{{ game.black.name }}</td>
                                            <td>{{ game.black.rating }}</td>
                                            <td>{{ game.end_date }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="tab-pane" id="rating">
                <table class="player-list-table table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Rating</th>
                        <th>Tournament Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in players %}
                        <tr>
                            <td>{{ player.name }}</td>
                            <td><img class="inline-icon"
                                     src="{% static player.country.flag %}">{{ player.country.name }}</td>
                            <td>{{ player.rating }}</td>
                            <td>{{ player.score }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
